# Dependencies
node_modules/
package-lock.json
yarn.lock

# Serverless
.serverless/
.serverless_plugins/

# Environment variables
.env
.env.local
.env.production
.env.production.template
.env.dev
.env.prod

images
scripts

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Build
dist/
build/
.build/

# AWS
.aws-sam/

# Testing
coverage/
.nyc_output/
